<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post List</title>
    <!-- Bootstrap CSS -->
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
    <h3 align="center">Post Lists</h3>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col"><a href="/" class="btn btn-secondary">Home</a></th>
                    <th scope="col"><a href="/post/create" class="btn btn-primary">Create Post</a></th>
                    <th scope="col"><a href="/category/create" class="btn btn-primary">Create Category</a></th>
                    <th scope="col"><a href="/category/list" class="btn btn-primary">Category List</a></th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="container">
        <table id="myTable" class="table table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Image</th>
                    <th>Category Name</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {{ range .Post}}
                    <tr>
                        <td>{{.ID}}</td>
                        <td>
                            <img src="/cms/asset/{{.Image}}" alt="Image" width="100px">
                        </td>
                        <td>{{.CategoryName}}</td>
                        <td>{{.Title}}</td>
                        <td>{{.Description}}</td>
                        <td>
                            <a href="/post/{{.ID}}/edit" class="btn btn-info">Edit</a>
                            <a href="/post/{{.ID}}/delete" class="btn btn-danger">Delete</a>
                            <a href="/post/{{.ID}}/details" class="btn btn-success">View</a>
                        </td>
                    </tr>
                {{end}}
            </tbody>
        </table>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</html>